@import "tailwindcss";

@theme {
	--container-8xl: 1356px;
	--animate-fade-in: fade-in 500ms forwards;

	@keyframes fade-in {
		0% {
			transform: translateY(8px);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

:root {
	@apply bg-neutral-900 text-neutral-100;
}
